@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.7-rc2/css/bootstrap-glyphicons.css");




html {
   box-sizing: border-box;
}


body {
    font: normal 1.8em 'Tenor Sans', sans-serif;
}

.jumbotron  {
    font: bolder 1.5em 'Montserrat Subrayada', sans-serif;
    background-image: url(../images/desert.jpg);
    background-size: cover;
    color: #fff;
    height: 500px;
}

.jumbotron p {
    font: bolder 2.2rem 'Tenor Sans', sans-serif;
    color: #fff;
    text-shadow: 3px 2px 1px #AD8350;
    text-align: center;
}

small {
    text-shadow: none;
    font-weight: normal;
    text-align: right;
}


.navbar-default {
    background-color: #fff;
    width: 100%;
    border: none;
   
}



.nav-fixed-top {
    font: bolder 1em 'Abel', sans-serif;
    text-align: center;
    
}



.nav-pills{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
 
}


a {
    color: #000;
}

.headline {
    font-weight: bolder;
    border-top: inset 1.5px #000;
     
}

.headline-container {
    border-bottom: inset 1.5px #000;
    padding-bottom: 10px;
}

.headline-container > p {
    text-align: left;
    font:normal 2rem 'Abel', sans-serif;
}

h3.headline {
    padding-top: 20px;
}

span::first-letter {
    color: #000;
    font: bold 2em 'Montserrat Subrayada', sans-serif;
    line-height: 0.5;
 }
 
.intro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    text-align: center;
    margin-top: 30px;
}
    

.intro > img {
    flex: 0 1 auto;
    margin: 5px 15px 0px 15px;
    
}



.overview-section {
    text-align: left;
    margin-bottom: 40px;
    
}

h4 {
    font: normal 1.5rem 'Tenor Sans', sans-serif;
}
.caption > p {
    font: normal 1.8rem 'Abel', sans-serif;
}

.caption > h3 {
    font: bolder 1.2em 'Tenor Sans', sans-serif;
  
}


.carousel-caption > p {
    font: bolder 1.8rem 'Tenor Sans', sans-serif;
     text-shadow: 3px 6px 6px #5A352A 2px 2px 10px #fff;
    

}


.carousel-caption > h3 {
    font: normal 1.2em 'Montserrat Subrayada', sans-serif;
}


.thumbnail {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: flex-start;
    width: 360px;
    height: 450px;
    border: none;
    margin-top: 40px;
    padding: 5px;
    
}

.thumbnail-tips > img {
    background-color: #fff;
    border: none;
    margin: 0px;
    padding: 0px;
}

h2 {
    font: bolder 1.3em 'Tenor Sans', sans-serif;
    margin: 0px;
    border: 0px;
}

.row-tips {
    font: normal 1em 'Abel', sans-serif;
   
}

.caption-weather > h3 {
     margin: 0;
    padding: 0;
}

.round-img {
    width: 340px;
	height: 340px;
	border-radius: 170px;
	-webkit-border-radius: 170px;
	-moz-border-radius: 170px;
	background: url(../images/frankincense.jpg) no-repeat;
	margin-top: 20px;
	margin-left: 20px;
}



.card-block {
    font: normal 1.5rem 'Abel', sans-serif;
}

.btn-read {
    width: 85px;
    height: 25px;
    font: bolder 1.5rem 'Abel', sans-serif;
    background-color: #D38B5D;
    border: none;
    text-align: center;
    
}


.btn-read:hover {
    background-color: #E7BFA6;
}

.btn-read:active {
    background-color: #AD8350;
    
}

.btn-read:visited {
    background-color: #F05D23;
}

.media-heading {
    font: bolder 1.2em 'Tenor Sans', sans-serif;
    text-align: center;
    padding-top: 40px;
    
}

.media-body {
    font: normal 2rem 'Abel', sans-serif;
    height: 250px;
    width: 750px;

}

.carousel-control.left {
    background: none;
}
			
.carousel-control.right {
	background: none;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
       
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-position: center center;
        background-size: cover;
        min-width: 100%;
        width: 500px;
        max-width: 100%;
        max-height: 100%;
        line-height: 0.5;
    
}









.bs-example{
	margin: 20px;
}

.row-carousel {
    padding-top: 40px;
    padding-bottom: 40px;
}


@media (max-width: 468px) {
    .carousel-caption > p { 
        display: none;
    }
    
    .round { 
    margin-top: 20px;
	margin-left: 20px;
	width: 170px;
	height: 170px;
    }
        

}