html {
   box-sizing: border-box;
}

body {
    font: normal 1.8em 'Tenor Sans', sans-serif;
}

.jumbotron  {
    font: bolder 1.5em 'Montserrat Subrayada', sans-serif;
    background-image: url(../images/desert.jpg);
    background-size: cover;
    color: #fff;
    height: 500px;
}

.jumbotron p {
    font-family: 'Tenor Sans', sans-serif;
    
}

.navbar-default {
    background-color: #fff;
    width: 100%;
    border: none;
   
}

.nav-fixed-top {
    font: bolder 1em 'Abel', sans-serif;
    text-align: center;
    
}



.nav-pills{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
 
}


a {
    color: #000;
}

.overview-section {
    border-bottom: solid 1.5px #000;
    border-top-style: outset;
    border-top: solid 1.5px #000;
    border-bottom-style: outset;
    margin-bottom: 40px;
    
}

.caption > p {
    font: normal 1.4rem 'Tenor Sans', sans-serif;
}

.caption > h3 {
    font: bolder 1em 'Tenor Sans', sans-serif;
  
}




.thumbnail {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: flex-start;
    width: 360px;
    height: 465px;
    border: none;
}






.card-block {
    font: normal 1.2rem 'Tenor Sans', sans-serif;
}

.btn-read {
    width: 85px;
    height: 22px;
    font: normal 1.2rem 'Tenor Sans', sans-serif;
    background-color: #D38B5D;
    border: none;
    text-align: center;
    
}


.btn-read:hover {
    background-color: #E7BFA6;
}

.btn-read:active {
    background-color: #D38B8D;
    opacity: 1;
}

.btn-read:visited {
    background-color: #E5989B;
}